* {
	margin: 0px;
	font-family: Trebuchet, Tahoma, Arial, sans-serif;
}
body { background-color: #333 ; }
#wrapper {
	width: 700px;
	height: 500px;
	margin: 10px auto;
	background-color: #CCC;
}
h1 {
	padding: 5px;
	text-align: center;
}
ol {
	width: 500px;
	margin-top:20px;
	padding-left: 10px;
	list-style-type: none;
}
ol li {
	line-height: 2;
	border-bottom: 1px dotted black;
}

#header { background-color: #0080FF; }
#main { padding: 10px; }
#prompt { display: none; }